<div class="section footer">

	<div class="row ">
		<div class="one-third column">	
			<!-- <div id="map"></div> -->
			<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24217.0163200147!2d-74.27960708771379!3d40.649129915010676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b2e1915caa2b%3A0x88a03a9cba693276!2sAuto%20Body%20Shop!5e0!3m2!1sen!2sus!4v1632170702837!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
		<div class="one-third column info">
{% for global in site.data.global %}    
{% capture m %}

#### Roselle Auto Services Inc.
##### **4 Roselle Street, Linden, NJ 07036**

#### Our Contact Numbers
New Jersey: [{{ global.number }}](tel:{{ global.number }})

Brooklyn:   [{{ global.brooklyn }}](tel:{{ global.brooklyn }})

Fax:        {{ global.fax }}

Email: [Contact Us Now](/contactus)


{% endcapture %}
{{ m | markdownify }}
{% endfor %}
                
		</div>
		<div class="one-third column tags">

		  {% for p in site.pages %}

		  {% if p.layout != nil %}
		  	{% unless p.slogan == nil %}
				<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.slogan }}</a>
			{% endunless %}
		  {% endif %}

		  {% endfor %}

		</div>
	</div>
<footer>
		<span>All Rights Reserved by Roselle Auto Services Inc &#169 {{ site.time | date: '%Y' }} | Created by Igor M (designexposition.com)</span>
</footer>


</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SH5YEQL25S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SH5YEQL25S');
</script>