<div class="section footer">

	<div class="row ">
		<div class="one-third column">	
			<!-- <div id="map"></div> -->
			<iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24217.0163200147!2d-74.27960708771379!3d40.649129915010676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b2e1915caa2b%3A0x88a03a9cba693276!2sAuto%20Body%20Shop!5e0!3m2!1sen!2sus!4v1632170702837!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
		<div class="one-third column info">
{% for global in site.data.global %}    
{% capture m %}

#### Roselle Auto Services Inc.
##### **4 Roselle Street, Linden, NJ 07036**

#### Our Contact Numbers
New Jersey: [{{ global.number }}](tel:{{ global.number }})

Brooklyn:   [{{ global.brooklyn }}](tel:{{ global.brooklyn }})

Fax:        {{ global.fax }}

Email: [Contact Us Now](/contactus)


{% endcapture %}
{{ m | markdownify }}
{% endfor %}
                
		</div>
		<div class="one-third column tags">

		  {% for p in site.pages %}

		  {% if p.layout != nil %}
		  	{% unless p.slogan == nil %}
				<a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">{{ p.slogan }}</a>
			{% endunless %}
		  {% endif %}

		  {% endfor %}

		</div>
	</div>
<footer>
		<span>All Rights Reserved by Roselle Auto Services Inc &#169 {{ site.time | date: '%Y' }} | Created by Igor M (designexposition.com)</span>
</footer>


</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38901187-1', 'auto');
  ga('send', 'pageview');

</script>