<header class="site-header">
	<div class="row">
		<div class="four-column">
			<div>
				<h1 class="logo"><img alt="Roselle Auto Services Logo" src="/img/roselle.png"><span>Roselle Auto Services Inc.</span></h1>
			</div>
		<div class="eight-column">
			<nav class="sticky-nav">
				{% include menu.html %}
			</nav>
		</div>
</header>
<!-- Mobile menu -->
<div class="bottom-header">
	<h1 class="logoSmall"><a href="tel:(908)718-5446">(908)718-5446</a></h1>
	
	<nav id="my-menu" class="mm-list">
		<ul>
			<li><a href="#my-page" id="close"><i class="fa fa-times"></i></a></li>
			<li><a href="/">home</a></li>
			<li><a href="/about">about us</a></li>
			<li><a href="/services">services</a></li>
			<li><a href="/gallery">gallery</a></li>
			<li><a href="/faq">faq</a></li>
			<li><a href="/contactus">contact us</a></li>
		</ul>
	</nav>
	<div class="menu">
		<a href="#my-menu" id="open"><i class="fa fa-bars"></i> Menu</a>
	</div>
</div>