<ul id="flip_nav">
	<li><a href="/">home</a></li>
	<li><a href="/about">about us</a></li>
	<li><a href="/services">services</a></li>
	<li><a href="/gallery">gallery</a></li>
	<li><a href="/faq">faq</a></li>
	<li><a href="/contactus">contact us</a></li>
</ul>

<span class="hatchshow_temp">
	 <div id="signWrap">
        <div class="desctitle">
            <p>
                <span class="jwords black animated fadeIn">No Deductibles</span>
                <span class="jwords animated fadeIn">Web Exclusive</span>
                <span class="jwords blue animated fadeIn">25% OFF</span>
                <span class="jwords call animated fadeIn">Call Now</span>
                <span class="jwords black animated fadeIn">(908)718-5446</span>
            </p>               
        </div>
      </div>
 </span>