<div class="sidebar">

	<h4>Call us now</h4>
		<ul>
			<li>We pay for your Deductibles</li>
			<li>Free Towing</li>
			<li>Free Parking</li>
			<li>Free Estimates</li>
			<li>Free Car Rentals*</li>
		</ul>
		<div class="restrictions">*Some restrictions and rules may apply. Call for details.</div>	
	<h4>Open</h4>
	<h5>Mon-Sat</h5>
		9am - 6:30pm

	<h5>Sun</h5>
		Closed

	<h4>Certified</h4>
		<img src="/assets/images/ASEBlueSealExcellence.jpg" />
		<img src="/assets/images/icargoldclass.jpg" />

</div>