{% include top.html %}

	<body class="wrap">

		<div class="row">
			<!-- <div class="container"> -->
				{% include header.html %}
			<!-- </div> -->
		</div>
		{% if page.type == "index" %}
			<div class="row">
				<!-- <div class="container"> -->
					{% include slider.html %}
				<!-- </div> -->
			</div>
		{% else %}
		<div class="row">
			<div class="container">
				{{ content }}
			</div>
		</div>

		<div class="row">
			<div class="container">
				{% include footer.html %}
			</div>
		</div>


		{% include javascript.html %}
		{% endif %}
	</body>
</html>